.apartments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img {
    max-width: 300px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}